.other_page {
    // padding-top: 200px;
    p.page_description {
        font-family: "Noto Sans CJK JP";
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 30px;
        text-align: center;
        color: #212121;
    }
    .faq_part {
        margin-top: 65px;
        padding-bottom: 300px;
        .faq_cat_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            button {
                font-family: "Noto Sans CJK JP";
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 0.1em;
                color: #703ee2;
                padding: 10px 45px;
                border-radius: 24.5px;
                background: #fff;
                border: 1px solid #703ee2;          
            }
        }
        .faq_main {
            margin-top: 50px;
            border-bottom: 1px solid #d8d8d8;
            .faq_one {
                border-top: 1px solid #d8d8d8;
                padding: 60px 45px;
                .qus {
                    position: relative;
                    display: flex;
                    align-items: center;
                    column-gap: 30px;
                    cursor: pointer;
                    p.mark {
                        font-family: "Co Headline";
                        font-weight: normal;
                        font-size: 30px;
                        color: #fff;
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        background: #703ee2;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    p.title {
                        font-family: "Noto Sans CJK JP";
                        font-weight: bold;
                        font-size: 18px;
                        letter-spacing: 0.05em;
                        line-height: 24px;
                        color: #703ee2;
                    }
                    &::before {
                        content: "";
                        width: 3px;
                        height: 20px;
                        position: absolute;
                        right: 8.5px;
                        background: #703EE2;
                        transform: translateY(-50%);
                        top: 50%;
                        transition: all 0.3s ease-out;
                    }
                    &.active::before {
                        opacity: 0;
                        transition: all 0.3s ease-out;
                    }
                    &::after {
                        content: "";
                        width: 20px;
                        height: 3px;
                        position: absolute;
                        right: 0;
                        background: #703EE2;
                        transform: translateY(-50%);
                        top: 50%;
                    }
                }
                .ans {
                    .ans_main {
                        display: flex;
                        align-items: center;
                        column-gap: 30px;
                        margin-top: 35px;
                        p.mark {
                            font-family: "Co Headline";
                            font-weight: normal;
                            font-size: 30px;
                            color: #703ee2;
                            width: 50px;
                            height: 50px;
                            border-radius: 25px;
                            background: #f7f7f7;
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                        }
                        p.content {
                            font-family: "Noto Sans CJK JP";
                            font-weight: 500;
                            font-size: 16px;
                            letter-spacing: 0.05em;
                            line-height: 28px;
                            color: #212121;
                        }
                    }
                    &.hide {
                        display: none;
                    }
                }
            }
        }
    }
    .error_part {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 40px;
        background: #e5e5e5;
        padding: 100px 0 120px;
        p {
            font-family: "Noto Sans CJK JP";
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 28px;
            text-align: center;
            color: #212121;
            margin-bottom: 20px;
        }
    }
}