.btn-submit {
    display: block;
    max-width: 200px;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    font-size: 1rem;
    color: white;
    text-align: center;
    background-color: #703EE2;
    transition: 0.5s all;
    filter: drop-shadow(-2px -3px 0px rgba(249, 244, 238, 0.6));

    &:hover {
        background-color: #5f34c2;
    }
}

.btn-cancel {
    display: block;
    max-width: 200px;
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    font-size: 1rem;
    color: white;
    text-align: center;
    transition: 0.5s all;
    background-color: #989898;

    &:hover {
        background-color: #5a5858;
    }
}