footer {
    position: relative;
    z-index: 111;
    background: #212121;
    padding: 85px 0 95px;
    .main_container1 {
        display: flex;
        justify-content: space-between;
        .logo_social {
            a img {
                width: max-content;
                display: block;
                margin: auto;
            }
            .social_links {
                display: flex;
                justify-content: center;
                column-gap: 37.6px;
                margin-top: 25px;
            }
            p.copyright {
                font-family: "Co Headline";
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 0.05em;
                text-align: center;
                color: #fff;
                margin-top: 15px;
            }
        }
        .footer_links {
            display: flex;
            column-gap: calc(100 / 1920 * 100vw);
            ul.one {
                display: flex;
                flex-direction: column;
                row-gap: 35px;
                li {
                    a {
                        font-family: "Noto Sans CJK JP";
                        font-weight: normal;
                        font-size: 14px;
                        letter-spacing: 0.05em;
                        color: #f9f4ee;
                        transition: all .35s;
                        display: flex;
                        padding-right: 20px;
                        span {
                            font-family: "Co Headline";
                        }
                        &::before {
                            content: url(/images/common/footer_link_hover.svg);
                            padding-right: 10px;
                            opacity: 0;
                            transition: all .35s;
                        }
                        &:hover {
                            color: #e4386e;
                            transform: translateX(20px);
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}